src/index.pug
doctype
html(lang='en')
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Prajjwal Dimri
    meta(name="description" content="The virtual home of Prajjwal Dimri, a full stack web developer specializing in VueJS and NodeJS.")
    link(href=require('./scss/main.scss'), rel="stylesheet")
    link(rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css")

  body

    .loader#loader
      .lds-ellipsis
        div
        div
        div
        div
      h3.font-thin Just a second...

    button.btn-toggle
      img.btn-toggle-img(src=require("./vectors/sun.svg") alt="Dark and Light Theme toggle button")

    .main-grid

      aside.info
        .profile
          picture
            source(type="image/webp" srcset=require("./images/Profile.webp"))
            source(type="image/jpeg" srcset=require("./images/Profile.jpeg"))
            img(src=require("./images/Profile.jpeg") alt="Image of Prajjwal Dimri")

        .headline
          h1.font-bold WELL HELLO THERE!

        p.font-thin You found me! I am&nbsp;
          span.font-bold Prajjwal Dimri.
        p.font-thin I am a Full Stack Web Developer specializing in&nbsp;
          a(href="https://reactjs.org" target="_blank") ReactJS,
          span &nbsp;
          a(href="https://nodejs.org" target="_blank") NodeJS
          span  and&nbsp;
          a(href="https://go.dev" target="_blank") Go,
          span.font-thin &nbsp;currently working as a Software Engineer @ 
          a(href="https://argonaut.dev" target="_blank") Argonaut
        p.no-display-desktop Scroll below to see what I've been working on

        .social-buttons
          a(href="https://github.com/prajjwaldimri" target="_blank")
            img(src=require("./vectors/button-github.svg") alt="Github Profile Link" width="64")
          a(href="https://www.linkedin.com/in/prajjwaldimri/" target="_blank")
            img(src=require("./vectors/button-linkedin.svg") alt="LinkedIn Profile Link" width="64")
          a(href="https://t.me/prajjwaldimri" target="_blank")
            img(src=require("./vectors/button-telegram.svg") alt="Telegram Chat Link" width="64")
          a(href="mailto:prajjwaldimri@outlook.com")
            img(src=require("./vectors/button-mail.svg") alt="Email Link" width="64")

        .footer
          h5.font-normal.grey--text.pb-0.mb-0 Website built with PUG, SCSS and JS. Hosted on&nbsp;
            a(href="https://gitlab.com" target="_blank").grey--text Gitlab

      .projects.main-carousel
        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 augicurgam.in
                a(href="https://augicurgam.in" target="_blank")
                  img(src=require("./vectors/website-logo.svg") alt="Link to A.U.G.I.C. Dungri website" height="40").pr-1

              .features
                ul
                  li.font-thin A website built for A.U. Govt. Intermediate College Ugram.
                  li.font-thin Built with Nuxt

            .image
              picture
                source(type="image/webp" srcset=require("./images/gicdungri.webp"))
                source(type="image/png" srcset=require("./images/gicdungri.png"))
                img(src=require("./images/gicdungri.png") alt="Image of A.U.G.I.C. Dungri's about page on a Desktop" style="width: 20rem")

        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 Rajbhasha Portal
                a(href="http://nitgoa.ac.in/rajbhasha" target="_blank")
                  img(src=require("./vectors/website-logo.svg") alt="Website Link to Rajbhasha Portal" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/rajbhasha-website" target="_blank")
                  img(src=require("./vectors/github-logo.svg") alt="Github Link to Rajbhasha Portal" height="44")


              .features
                ul
                  li.font-thin Rajbhasha Portal built for N.I.T. Goa
                  li.font-thin Built with VueJS

            .image
              picture
                source(type="image/webp" srcset=require("./images/rajbhasha.webp"))
                source(type="image/png" srcset=require("./images/rajbhasha.png"))
                img(src=require("./images/rajbhasha.png") alt="Image of Rajbhasha Portal" style="width: 17rem")

        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 macha.in
                //- a(href="https://macha.in" target="_blank")
                //-   img(src="./vectors/website-logo.svg" alt="Link to macha website" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/macha" target="_blank")
                  img(src=require("./vectors/github-logo.svg") alt="Github link to macha project" height="44")


              .features
                ul
                  li.font-thin A privacy focused social network
                  li.font-thin Built with NodeJS, Nuxt, MongoDB and GraphQL
                  li.font-thin Completely Open Source

            .image
              picture
                source(type="image/webp" srcset=require("./images/macha.webp"))
                source(type="image/png" srcset=require("./images/macha.png"))
                img(src=require("./images/macha.png") alt="Image of macha social network on a phone")


        .carousel-cell
          .cell
            .project-info
              .title
                img(id="campzy-logo" src=require("./vectors/campzy.svg") alt="Campzy Logo" height="44").pr-1
                a(href="https://github.com/prajjwaldimri/Campzy" target="_blank")
                  img(src=require("./vectors/github-logo.svg") alt="Github link to campzy" height="44").pr-1


              .features
                ul
                  li.font-thin Online camp booking website (Now defunded)
                  li.font-thin Built with NodeJS, VueJS, MongoDB and GraphQL
                  li.font-thin Inventory Management system for camp owners
                  li.font-thin Payment Gateway integrated

            .image
              picture
                source(type="image/webp" srcset=require("./images/smartmockups_jnfz7k1g.webp"))
                source(type="image/png" srcset=require("./images/smartmockups_jnfz7k1g.png"))
                img(src=require("./images/smartmockups_jnfz7k1g.png") alt="Image of Campzy's Website" style="width:20rem")

        .carousel-cell
          .cell
            .project-info
              .title
                h1.font-normal.pr-1 potential-doodle
                a(href="https://gitlab.com/PrajjwalDimri/potential-doodle" target="_blank")
                  img(src=require("./vectors/github-logo.svg") alt="Potential Doodle's Logo" height="40").pr-1


              .features
                ul
                  li.font-thin A game which tries to merge Procedural Generation and Car Racing into one.
                  li.font-thin Built with C# and Unity

            .image
              video(src=require("./videos/Camera-Potential-Doodle.mp4") alt="Video of Potential Doodle" height="160" autoplay loop muted)

        .carousel-cell
          .cell
            .project-info
              .title
                img(src=require("./vectors/befriend.svg") alt="Logo of Befriend Project" height="48").pr-1.no-display-mobile
                a(href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank").no-display-mobile
                  img(src=require("./vectors/microsoft-logo.svg") alt="Link to BeFriend's listing on Microsoft Store" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/Friend-App" target="_blank").no-display-mobile
                  img(src=require("./vectors/github-logo.svg") alt="Link to Befriend's Github page" height="44")

                img(src=require("./vectors/befriend.svg") alt="BeFriend Logo" height="38").pr-1.no-display-desktop
                a(href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank").no-display-desktop
                  img(src=require("./vectors/microsoft-logo.svg") alt="Link to BeFriend's listing on Microsoft Store" height="30").pr-1
                a(href="https://github.com/prajjwaldimri/Friend-App" target="_blank").no-display-desktop
                  img(src=require("./vectors/github-logo.svg") alt="Link to Befriend's Github page" height="30")

              .features
                ul
                  li.font-thin A rape prevention app for Windows Phones
                  li.font-thin.no-display-mobile Uses Microsoft's OEM reserved APIs to function which they graciously provided for this app.
                  li.font-thin.no-display-mobile Completely Open Source
                  li.font-thin.no-display-mobile Built with Xamarin and C#

              .quotes
                q.font-thin.no-display-mobile The concept here is pretty compelling, especially if you venture anywhere where you might come a cropper.
                q.font-thin.no-display-desktop The concept here is pretty compelling.
                a(href="http://allaboutwindowsphone.com/reviews/item/21547_BeFriend.php" target="_blank")
                  p.mt-0 - Steve LitchField, AllAboutWindowsPhone.com

            .image
              picture
                source(type="image/webp" srcset=require("./images/befriend.webp"))
                source(type="image/png" srcset=require("./images/befriend.png"))
                img(src=require("./images/befriend.png") alt="Image of Befriend App on a Windows Phone" ).no-display-mobile
                img(src=require("./images/befriend.png") alt="Image of Befriend App on a Windows Phone" width="12rem").no-display-desktop

        .carousel-cell
          .cell
            .project-info
              .title
                img(src=require("./vectors/10calc.svg") alt="10Calc Logo" height="48").pr-1.no-display-mobile
                a(href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank").no-display-mobile
                  img(src=require("./vectors/microsoft-logo.svg") alt="10Calc's Microsoft Store page" height="40").pr-1
                a(href="https://github.com/prajjwaldimri/10Calc" target="_blank").no-display-mobile
                  img(src=require("./vectors/github-logo.svg") alt="Link to Github Page of 10Calc" height="44")

                img(src=require("./vectors/10calc.svg") alt="10Calc Logo" height="38").pr-1.no-display-desktop
                a(href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank").no-display-desktop
                  img(src=require("./vectors/microsoft-logo.svg") alt="10Calc's Microsoft Store page" height="36").pr-1
                a(href="https://github.com/prajjwaldimri/10Calc" target="_blank").no-display-desktop
                  img(src=require("./vectors/github-logo.svg") alt="Link to Github Page of 10Calc" height="36")

              .features
                ul
                  li.font-thin A super versatile calculator rated 4.5 stars on Microsoft Store
                  li.font-thin.no-display-mobile Built using C#
                  li.font-thin.no-display-mobile Completely Open Source

              .quotes
                q.font-thin The more I used 10Calc, the more the Windows Phone app grew on me
                a(href="https://www.windowscentral.com/10calc-windows-phone-app-review" target="_blank")
                  p.mt-0 - George Ponder, Windows Central

            .image
              picture
                source(type="image/webp" srcset=require("./images/10Calc.webp"))
                source(type="image/png" srcset=require("./images/10Calc.png"))
                img(src=require("./images/10Calc.png") alt="An image of 10Calc app on Windows Phone" ).no-display-mobile
                img(src=require("./images/10Calc.png") alt="An image of 10Calc app on Windows Phone" width="12rem").no-display-desktop


    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    script(src=require("./js/index.js")) 

public/index.html
<!DOCTYPE html><html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><title>Prajjwal Dimri</title><meta name="description" content="The virtual home of Prajjwal Dimri, a full stack web developer specializing in VueJS and NodeJS."><link href="/main.css" rel="stylesheet"><link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"></head><body><div class="loader" id="loader"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div><h3 class="font-thin">Just a second...</h3></div><button class="btn-toggle"><img class="btn-toggle-img" src="/vectors/sun.svg" alt="Dark and Light Theme toggle button"></button><div class="main-grid"><aside class="info"><div class="profile"><picture><source type="image/webp" srcset="/images/Profile.webp"><source type="image/jpeg" srcset="/images/Profile.jpeg"><img src="/images/Profile.jpeg" alt="Image of Prajjwal Dimri"></picture></div><div class="headline"><h1 class="font-bold">WELL HELLO THERE!</h1></div><p class="font-thin">You found me! I am&nbsp;<span class="font-bold">Prajjwal Dimri.</span></p><p class="font-thin">I am a Full Stack Web Developer specializing in&nbsp;<a href="https://reactjs.org" target="_blank">ReactJS,</a><span>&nbsp;</span><a href="https://nodejs.org" target="_blank">NodeJS</a><span> and&nbsp;</span><a href="https://go.dev" target="_blank">Go,</a><span class="font-thin">&nbsp;currently working as a Software Engineer @ </span><a href="https://argonaut.dev" target="_blank">Argonaut</a></p><p class="no-display-desktop">Scroll below to see what I've been working on</p><div class="social-buttons"><a href="https://github.com/prajjwaldimri" target="_blank"><img src="/vectors/button-github.svg" alt="Github Profile Link" width="64"></a><a href="https://www.linkedin.com/in/prajjwaldimri/" target="_blank"><img src="/vectors/button-linkedin.svg" alt="LinkedIn Profile Link" width="64"></a><a href="https://t.me/prajjwaldimri" target="_blank"><img src="/vectors/button-telegram.svg" alt="Telegram Chat Link" width="64"></a><a href="mailto:prajjwaldimri@outlook.com"><img src="/vectors/button-mail.svg" alt="Email Link" width="64"></a></div><div class="footer"><h5 class="font-normal grey--text pb-0 mb-0">Website built with PUG, SCSS and JS. Hosted on&nbsp;<a class="grey--text" href="https://gitlab.com" target="_blank">Gitlab</a></h5></div></aside><div class="projects main-carousel"><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><h1 class="font-normal pr-1">augicurgam.in</h1><a href="https://augicurgam.in" target="_blank"><img class="pr-1" src="/vectors/website-logo.svg" alt="Link to A.U.G.I.C. Dungri website" height="40"></a></div><div class="features"><ul><li class="font-thin">A website built for A.U. Govt. Intermediate College Ugram.</li><li class="font-thin">Built with Nuxt</li></ul></div></div><div class="image"><picture><source type="image/webp" srcset="/images/gicdungri.webp"><source type="image/png" srcset="/images/gicdungri.png"><img src="/images/gicdungri.png" alt="Image of A.U.G.I.C. Dungri's about page on a Desktop" style="width: 20rem"></picture></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><h1 class="font-normal pr-1">Rajbhasha Portal</h1><a href="http://nitgoa.ac.in/rajbhasha" target="_blank"><img class="pr-1" src="/vectors/website-logo.svg" alt="Website Link to Rajbhasha Portal" height="40"></a><a href="https://github.com/prajjwaldimri/rajbhasha-website" target="_blank"><img src="/vectors/github-logo.svg" alt="Github Link to Rajbhasha Portal" height="44"></a></div><div class="features"><ul><li class="font-thin">Rajbhasha Portal built for N.I.T. Goa</li><li class="font-thin">Built with VueJS</li></ul></div></div><div class="image"><picture><source type="image/webp" srcset="/images/rajbhasha.webp"><source type="image/png" srcset="/images/rajbhasha.png"><img src="/images/rajbhasha.png" alt="Image of Rajbhasha Portal" style="width: 17rem"></picture></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><h1 class="font-normal pr-1">macha.in</h1><a href="https://github.com/prajjwaldimri/macha" target="_blank"><img src="/vectors/github-logo.svg" alt="Github link to macha project" height="44"></a></div><div class="features"><ul><li class="font-thin">A privacy focused social network</li><li class="font-thin">Built with NodeJS, Nuxt, MongoDB and GraphQL</li><li class="font-thin">Completely Open Source</li></ul></div></div><div class="image"><picture><source type="image/webp" srcset="/images/macha.webp"><source type="image/png" srcset="/images/macha.png"><img src="/images/macha.png" alt="Image of macha social network on a phone"></picture></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><img class="pr-1" id="campzy-logo" src="/vectors/campzy.svg" alt="Campzy Logo" height="44"><a href="https://github.com/prajjwaldimri/Campzy" target="_blank"><img class="pr-1" src="/vectors/github-logo.svg" alt="Github link to campzy" height="44"></a></div><div class="features"><ul><li class="font-thin">Online camp booking website (Now defunded)</li><li class="font-thin">Built with NodeJS, VueJS, MongoDB and GraphQL</li><li class="font-thin">Inventory Management system for camp owners</li><li class="font-thin">Payment Gateway integrated</li></ul></div></div><div class="image"><picture><source type="image/webp" srcset="/images/smartmockups_jnfz7k1g.webp"><source type="image/png" srcset="/images/smartmockups_jnfz7k1g.png"><img src="/images/smartmockups_jnfz7k1g.png" alt="Image of Campzy's Website" style="width:20rem"></picture></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><h1 class="font-normal pr-1">potential-doodle</h1><a href="https://gitlab.com/PrajjwalDimri/potential-doodle" target="_blank"><img class="pr-1" src="/vectors/github-logo.svg" alt="Potential Doodle's Logo" height="40"></a></div><div class="features"><ul><li class="font-thin">A game which tries to merge Procedural Generation and Car Racing into one.</li><li class="font-thin">Built with C# and Unity</li></ul></div></div><div class="image"><video src="/videos/Camera-Potential-Doodle.mp4" alt="Video of Potential Doodle" height="160" autoplay loop muted></video></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><img class="pr-1 no-display-mobile" src="/vectors/befriend.svg" alt="Logo of Befriend Project" height="48"><a class="no-display-mobile" href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank"><img class="pr-1" src="/vectors/microsoft-logo.svg" alt="Link to BeFriend's listing on Microsoft Store" height="40"></a><a class="no-display-mobile" href="https://github.com/prajjwaldimri/Friend-App" target="_blank"><img src="/vectors/github-logo.svg" alt="Link to Befriend's Github page" height="44"></a><img class="pr-1 no-display-desktop" src="/vectors/befriend.svg" alt="BeFriend Logo" height="38"><a class="no-display-desktop" href="https://www.microsoft.com/en-gb/p/befriend/9nblggh4q864" target="_blank"><img class="pr-1" src="/vectors/microsoft-logo.svg" alt="Link to BeFriend's listing on Microsoft Store" height="30"></a><a class="no-display-desktop" href="https://github.com/prajjwaldimri/Friend-App" target="_blank"><img src="/vectors/github-logo.svg" alt="Link to Befriend's Github page" height="30"></a></div><div class="features"><ul><li class="font-thin">A rape prevention app for Windows Phones</li><li class="font-thin no-display-mobile">Uses Microsoft's OEM reserved APIs to function which they graciously provided for this app.</li><li class="font-thin no-display-mobile">Completely Open Source</li><li class="font-thin no-display-mobile">Built with Xamarin and C#</li></ul></div><div class="quotes"><q class="font-thin no-display-mobile">The concept here is pretty compelling, especially if you venture anywhere where you might come a cropper.</q><q class="font-thin no-display-desktop">The concept here is pretty compelling.</q><a href="http://allaboutwindowsphone.com/reviews/item/21547_BeFriend.php" target="_blank"><p class="mt-0">- Steve LitchField, AllAboutWindowsPhone.com</p></a></div></div><div class="image"><picture><source type="image/webp" srcset="/images/befriend.webp"><source type="image/png" srcset="/images/befriend.png"><img class="no-display-mobile" src="/images/befriend.png" alt="Image of Befriend App on a Windows Phone"><img class="no-display-desktop" src="/images/befriend.png" alt="Image of Befriend App on a Windows Phone" width="12rem"></picture></div></div></div><div class="carousel-cell"><div class="cell"><div class="project-info"><div class="title"><img class="pr-1 no-display-mobile" src="/vectors/10calc.svg" alt="10Calc Logo" height="48"><a class="no-display-mobile" href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank"><img class="pr-1" src="/vectors/microsoft-logo.svg" alt="10Calc's Microsoft Store page" height="40"></a><a class="no-display-mobile" href="https://github.com/prajjwaldimri/10Calc" target="_blank"><img src="/vectors/github-logo.svg" alt="Link to Github Page of 10Calc" height="44"></a><img class="pr-1 no-display-desktop" src="/vectors/10calc.svg" alt="10Calc Logo" height="38"><a class="no-display-desktop" href="https://www.microsoft.com/en-us/p/10calc/9nblggh31wxv" target="_blank"><img class="pr-1" src="/vectors/microsoft-logo.svg" alt="10Calc's Microsoft Store page" height="36"></a><a class="no-display-desktop" href="https://github.com/prajjwaldimri/10Calc" target="_blank"><img src="/vectors/github-logo.svg" alt="Link to Github Page of 10Calc" height="36"></a></div><div class="features"><ul><li class="font-thin">A super versatile calculator rated 4.5 stars on Microsoft Store</li><li class="font-thin no-display-mobile">Built using C#</li><li class="font-thin no-display-mobile">Completely Open Source</li></ul></div><div class="quotes"><q class="font-thin">The more I used 10Calc, the more the Windows Phone app grew on me</q><a href="https://www.windowscentral.com/10calc-windows-phone-app-review" target="_blank"><p class="mt-0">- George Ponder, Windows Central</p></a></div></div><div class="image"><picture><source type="image/webp" srcset="/images/10Calc.webp"><source type="image/png" srcset="/images/10Calc.png"><img class="no-display-mobile" src="/images/10Calc.png" alt="An image of 10Calc app on Windows Phone"><img class="no-display-desktop" src="/images/10Calc.png" alt="An image of 10Calc app on Windows Phone" width="12rem"></picture></div></div></div></div></div><script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script><script src="/index.1.js"> </script></body></html>
